# Unity
.DS_Store
*.apk
*.unitypackage
*.assetbundle
*.user
*.userprefs
*.pidb
*.booproj
*.suo
*.opendb
*.VC.db
*.sdf
*.opensdf
*.csproj
*.unityproj
*.sln
*.orig
*.pyc
*.pyo
*.bak
*.ide
*.log
*.meta
*.pid
*.pdb
*.bytes
*.obj
*.lib
*.bin
*.dll
*.exe
*.mdb
*.so
*.a
*.ilk
*.aps
*.pch
*.ipch
*.com
*.msi
*.msp
*.res
*.resw
*.winmd
*.appx
*.appxbundle
*.xap
*.eap
*.npk
*.nupkg
*.vsp
*.vspx
*.vsps
*.vgdb
*.vgdbx
*.tmproj
*.build
*.xcode
*.pbxuser
*.xcscheme
*.xcworkspace
*.pcuser
*.xccheckout
*.xcscmblueprint
*.xcdatamodeld
*.profraw
*.memprof
*.octest
*.lproj
*.framework
*.hmap
*.gch
*.dSYM
*.miglog
*.swp
*.bak
*.blend
*.fbx
*.obj
*.mat
*.tga
*.psd
*.tiff
*.iff
*.exr
*.hdr
*.hdri
*.raw
*.mov
*.mp4
*.wmv
*.avi
*.fla
*.flv
*.swf
*.f4v
*.3gp
*.m4v
*.webm
*.ogv
*.ogg
*.opus
*.wav
*.mp3
*.aiff
*.aif
*.mid
*.midi
*.sgi
*.pct
*.pic
*.bmp
*.gif
*.jpg
*.jpeg
*.png
*.dds
*.pvr
*.pkm
*.ktx
*.astc
*.sc
*.scc
*.manifest
*.user
*.csproj.user
*.project.user

# Visual Studio
.vs/
bin/
obj/

# Unity specific
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
AssetBundles/
UserSettings/

# Rider
.idea/

# macOS
.DS_Store

# Misc
Export.zip 